<div class="view-container login-page" ng-controller="RegisterController as model">
    <div class="container-fluid">
        <form>
            <h1>Register</h1>
            <div class="form-group">
                <label for="username" class="sr-only">Username</label>
                <input ng-model="user.username" type="text"
                       class="form-control" id="username" name="username"
                       placeholder="Username"/>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input ng-model="user.password" type="password"
                       class="form-control" id="password" name="password"
                       placeholder="Password"/>
            </div>
            <div class="form-group">
                <label for="conf-password" class="sr-only">Confirm Password</label>
                <input type="password" class="form-control" id="conf-password"
                       name="conf-password" placeholder="Confirm Password"/>
            </div>
            <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input ng-model="user.email" type="email"
                       class="form-control" id="email" name="email"
                       placeholder="Email"/>
            </div>
            <div class="form-group">
                <label for="first-name" class="sr-only">First Name</label>
                <input ng-model="user.firstName" type="text"
                       class="form-control" id="first-name" name="first-name"
                       placeholder="First Name"/>
            </div>
            <div class="form-group">
                <label for="last-name" class="sr-only">Last Name</label>
                <input ng-model="user.lastName" type="text"
                       class="form-control" id="last-name" name="last-name"
                       placeholder="Last Name"/>
            </div>

            <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>

            <div class="form-group">
                <a class="btn btn-block btn-primary" ng-click="model.register(user)">
                    Register
                </a>
            </div>
            <div class="form-group">
                <a class="btn btn-block btn-danger" href="#/login">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>