<div class="view-container widget-list-page" ng-controller="WidgetListController as model">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left no-left-margin">
                <a class="navbar-link" href="#/user/{{model.userID}}/website/{{model.websiteID}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right no-right-margin">
                <a class="navbar-link"
                   href="#/user/{{model.userID}}/website/{{model.websiteID}}/page/{{model.pageID}}/widget/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand navbar-link"
                   href="#/user/{{model.userID}}/website/{{model.websiteID}}/page/{{model.pageID}}/widget">
                    Widgets
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <ul class="list-group" wbdv-sortable="">
            <li id="{{widget._id}}" ng-repeat="widget in model.widgets" class="list-group-item">
                <div class="ss-widget-toolbar" ng-class="{'video-block' : widget.type == 'YOUTUBE'}">
                    <a href="#/user/{{model.userID}}/website/{{model.websiteID}}/page/{{model.pageID}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify handle"></span>
                </div>
                <div ng-switch="widget.type">
                    <div ng-switch-when="HEADING">
                        <ng-include src="'views/widget/templates/widget-HEADER.view.client.html'"></ng-include>
                    </div>
                    <div ng-switch-when="IMAGE">
                        <ng-include src="'views/widget/templates/widget-IMAGE.view.client.html'"></ng-include>
                    </div>
                    <div ng-switch-when="HTML">
                        <ng-include src="'views/widget/templates/widget-HTML.view.client.html'"></ng-include>
                    </div>
                    <div ng-switch-when="YOUTUBE">
                        <ng-include src="'views/widget/templates/widget-YOUTUBE.view.client.html'"></ng-include>
                    </div>
                    <div ng-switch-when="TEXT-INPUT">
                        <ng-include src="'views/widget/templates/widget-TEXT.view.client.html'"></ng-include>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right no-right-margin">
                <a class="navbar-link" href="#/user/{{model.userID}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>
</div>