<div ng-switch="widget.size">
    <h1 class="no-margin" ng-switch-when="1">{{widget.text}} {{widget.size}}</h1>
    <h2 class="no-margin" ng-switch-when="2">{{widget.text}} {{widget.size}}</h2>
    <h3 class="no-margin" ng-switch-when="3">{{widget.text}} {{widget.size}}</h3>
    <h4 class="no-margin" ng-switch-when="4">{{widget.text}} {{widget.size}}</h4>
    <h5 class="no-margin" ng-switch-when="5">{{widget.text}} {{widget.size}}</h5>
    <h6 class="no-margin" ng-switch-when="6">{{widget.text}} {{widget.size}}</h6>
</div>
