<h1>Header Editor</h1>
<div class="form-group">
    <label for="widget-name">Name</label>
    <input ng-model="model.widget.name" type="text"
           class="form-control" id="widget-name" name="widget-name" required/>
    <div ng-show="model.missingName ||
                        (editWidgetForm.$submitted && editWidgetForm['widget-name'].$invalid)"
         class="error">Name is required
    </div>
</div>
<div class="form-group">
    <label for="widget-text">Text</label>
    <input ng-model="model.widget.text" type="text"
           class="form-control" id="widget-text" name="widget-text"/>
</div>
<div class="form-group">
    <label for="widget-size">Size</label>
    <select ng-model="model.widget.size" class="form-control"
            id="widget-size" name="widget-size">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select>
</div>

