<h1>Youtube Editor</h1>
<div class="form-group">
    <label for="widget-name">Name</label>
    <input ng-model="model.widget.name" type="text"
           class="form-control" id="widget-name" name="widget-name" required/>
    <div ng-show="model.missingName ||
                        (editWidgetForm.$submitted && editWidgetForm['widget-name'].$invalid)"
         class="error">Name is required
    </div>
</div>
<div class="form-group">
    <label for="widget-url">URL</label>
    <input ng-model="model.widget.url" type="url"
           class="form-control" id="widget-url" name="widget-url"/>
</div>
<div class="form-group">
    <label for="widget-width">Width</label>
    <input ng-model="model.widget.width" type="text"
           class="form-control" id="widget-width" name="widget-width"/>
</div>
